<br>
<div class="row">
 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="total-reels">
      <div class="card-header">
       <h5 class="card-title">Total Reels</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">0000</h3>
        <!-- <h3 class="card-title">{{total_orders}}</h3> -->
      </div>
   </div>
  </div>
 </div>

 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="Total-Stock-Value">
      <div class="card-header">
       <h5 class="card-title">Total Stock Value</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">00000</h3>
      </div>
   </div>
  </div>
 </div>

 <!-- <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="orders-pending">
      <div class="card-header">
       <h5 class="card-title">Orders Pending</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{pending}}</h3>
      </div>
   </div>
  </div> -->
 
</div>
</div>